{{template "base" .}}

{{define "title"}}About{{end}}

{{define "body"}}
<h1>
    About
</h1>
<h3 class="justify">
    I am an aspiring developer based in New Delhi, India attending TIET, Patiala for my B.E. in
    Computer Engineering. I like to experiment with a lot of things and have made a few projects
    using new technologies in my free time.  
</h3>
<h3 class="justify">
    My go-to language for almost everything is Go, apart from scripting for which I prefer Python.
    I've also written a fair amount of code in C/C++ for my course-work and am learning
    Rust right now.
</h3>
<h3 class="justify">
    I also occasionally work with simple hardware projects using Raspberry Pi 3/4s and NodeMCUs.
    I have also used Arduino UNOs while working on one of my course projects.
</h3>
<h3 class="justify">
    Apart from these, I like to play FIFA, RPGs and am an avid flight simmer having played a lot of
    sims since FS95.
</h3>
<h2 class="center">Skills</h2>
<div class="wrapper-small">
    <div class="center">
        <div><i class="devicon-go-plain"></i></div>
        <div>2%</div>
    </div>
    <div class="center">
        <div><i class="fab fa-python fa-2x"></i></div>
        <div>10%</div>
    </div>
    <div class="center">
        <div><i class="fab fa-html5 fa-2x"></i></div>
        <div>5%</div>
    </div>
    <div class="center">
        <div><i class="fab fa-css3-alt fa-2x"></i></div>
        <div>5%</div>
    </div>
    <div class="center">
        <div><i class="fab fa-rust fa-2x"></i></div>
        <div>2%</div>
    </div>
    <div class="center">
        <div><i class="fab fa-docker fa-2x"></i></div>
        <div>5%</div>
    </div>
</div>
{{end}}