{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="center">
    <h1 class="center">
        Hi, I am Adarsh, <br>
        and this is my messy corner on the internet.
    </h1>
    <h2 class="center">
        I am a final year undergrad at TIET, Patiala studying Computer Engineering with focus on 
        Information and Cyber Security. I am interested in NLP, Security and Backend Development
        with bits of electronics here and there.
    </h2>
</div>
{{end}}