{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="center">
    <h1 class="center text">
        Hi, I am Adarsh, <br>
        and this is my messy corner on the internet.
    </h1>
    <h2 class="center text">
        I am a final year undergrad at TIET, Patiala studying Computer Engineering with focus on Information and Cyber Security. As you might see from this website,
        Responsive Design isn't my strong suite. What I am more experienced at are Deep Learning, Security and Backend Development. aaaaaaaaa
        aaaaaaaaaaaa
        aaaaaaaaaa
        aaaaaa
        aaaaaaaaa aaaaaa
        aaaaaaa aaaaaaa
        aaaaaa
        aaaaaa aaaaa 
        aaaaa aaaaaaa aaaaaaaaaa
        aa aaaaaaaa aaaaaaaaa
        aaaaa aaaaaa aaaaaaa
        aaaaaaa aaaaaaa aaaaaa
        aaaaaaaa aaaaaaa aaaaa
        aaaaa
        aaaaaaaa aaaaaa aaaaaaaa
        aaaaaa aaaa aaaaaaaaaa
        aaaaaaaaaa a aaaaaaaa
        aaaaaaaaa aaaaaaa aaaa
        aaaaaaaa aaaaaaaaaa aa
        aaaaaaaaaaa aaaaa aaaaa
        aaaaaaaaaaa aaaaaa aaaa
        aaaaaaaaaa aaa
        aaaaaaaaa aaaaaaaaaaaa
        aaaa aaaaaaaaaaaaaaa
        aaaaaaaaaaa aaaaaaaa
        aaaaaaaaaaaaaaaaa aaaa
        aaaaaaaaaaaaaaaaaa aa
        aaa
        aaaaaaaaaaaaa aaaaaaaa
        aaaaaaaaaaaaaaa aaaaaa
        aaaaaaaaaa
        aaaaaaaaa
        aaaaaaaaaaa
    </h2>
</div>
{{end}}