{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="center">
    <h1 class="text">
        Hi, I am Adarsh, <br>
        and this is my messy corner on the internet.
    </h1>
    <h2 class="text">
        I am a final year undergrad at TIET, Patiala majoring in Computer Engineering with focus on Information and Cyber Security.<br>
        I am also interested in Machine Learning, Deep Learning and IoT. Apart from these, I've also tried my hands on DevOps and Web Dev.
    </h2>
</div>
{{end}}