* {
    font-family: "Ubuntu Mono", monospace;
    color: #edf5e1;
    border-radius: 5px;
}

html {
    background-color: #5cdb95;
}

h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #05386b;
}

h1.text, h2.text {
    padding-left: 500px;
    padding-right: 500px;
}

div.center {
    text-align: center;
}

a.button {
    text-decoration: none;
    font-weight: 700;
    color: #edf5e1;
    padding: 10px;
    background-color: #05386b;
    border-radius: 5px;
}

a.header {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #05386b;
    padding: 10px;
}

header {
    color: #BA68C8;
    margin-left: auto;
    margin-right: auto;
}

nav {
    padding-top: 17px;
    padding-bottom: 15px;
}

nav a {
    margin-right: 1.1em;
    display: inline-block;
}

nav form {
    display: inline-block;
    margin-left: 1.1em;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.1em;
    margin-right: 0;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
footer div {
    padding: 5px;
    font-weight: 700;
    color: #05386b;
}

i.fab{
    color: #05386b;
}

/* Hover.CSS */

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #edf5e1;
    color: #05386b;
  }
  

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Forward */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}